body {
    background-color: black;
}

#game {
    height: 400px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: azure;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#sky {
    height: 250px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

#ground {
    height: 150px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200;
}

#hive {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("hive.png");
    background-size: contain;
    position: absolute;
    right: 10;
    top: 200;
    z-index: 300;
}

.flower {
    padding: 0;
    margin: 0;
    border: 0;
    height: 85px;
    width: 40px;
    background-size: contain;
    position: absolute;
    z-index: 9900;
   /*border: 2px solid red;*/
}

.f1 {
    background-image: url("flower1.png");
  
}

.f2 {
    background-image: url("flower2.png");
 
}

.f3 {
    background-image: url("flower3.png");

}

.f4 {
    background-image: url("flower4.png");

}
#game_over {
    display:none;
    width:100%;
    top:31;
    left:0;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    color:whitesmoke;
    background-color: maroon;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    
}

#mission_complete {
    display:none;
    width:100%;
    top:31;
    left:0;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    color:whitesmoke;
    background-color:forestgreen;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    
}

#gamestats {
    height:30px;
    width:400px;
    top:0;
    right:0;
    background-size: contain;
    position: absolute;
    z-index: 9999;
}

#start {
    height:60px;
    width:120px;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 40%;
}

#avatar {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("bee_left.png");
    background-size: contain;
    position: absolute;
    z-index: 9999;
    top: 60%;
    left: 90%;
    /*border: 2px solid red;*/
}

.bird {
    height: 80px;
    width: 90px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("bird.webp");
    background-size: contain;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: -90px;
    /*border: 2px solid red;*/
}