body {
    background-color: black;
}

#game {
    height: 400px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: azure;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#sky {
    height: 250px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

#sun_box{
    height:150px;
    width:150px;
    position: absolute;
    top: -75px;
    left: -75px;
    z-index: 2500;
}
#sun{
    height:150px;
    width: 150px;
    position:relative;

}
#ground {
    height: 150px;
    width: 900px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3000;
}

#hive {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("../img/hive.png");
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 200px;
    z-index: 4000;
}

.flower {
    padding: 0;
    margin: 0;
    border: 0;
    height: 85px;
    width: 40px;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    z-index: 9900;
   /*border: 2px solid red;*/
}
.pollen{ 
    
    position:absolute;
    z-index: 9999;
}

.f1 {
    background-image: url("../img/flower1.png");
  
}

.f2 {
    background-image: url("../img/flower2.png");
 
}

.f3 {
    background-image: url("../img/flower3.png");

}

.f4 {
    background-image: url("../img/flower4.png");

}
.banner{
    display:none;
    width:100%;
    top:35px;
    left:0;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

#game_over {
  
    color:whitesmoke;
    background-color: maroon;   
}

#mission_complete, #level_complete {
    color:whitesmoke;
    background-color:forestgreen;  
}

#gamestats {
    height:30px;
    width:450px;
    top:5px;
    right:5px;
    padding:0 10px;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    border-radius: 3%;
    color: black;
    border: 2px solid black;
    background-color:goldenrod;
    text-align:left;
    line-height:30px;
    font-weight:bolder;
    font-size:1em;
}

.btn_run_game {
    height:50px;
    width:200px;
    background-size: contain;
    position: absolute;
    z-index: 9999;
    top: 40%;
    left: 40%;
    border-radius: 25px;
    color: black;
    border: 2px solid black;
    padding:0;
    background-color:goldenrod;
    text-align:center;
    line-height:1.35em;
    font-weight:bolder;
    font-size:1.35em;
    display:none;
}


#avatar {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("../img/bee_left.png");
    background-size: contain;
    position: absolute;
    z-index: 9990;
    top: 60%;
    left: 90%;
    /*border: 2px solid red;*/
}

.bird {
    height: 88px;
    width: 99px;
    padding: 0;
    margin: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 9990;
    top: 50%;
    left: -90px;
    /*border: 2px solid red;*/
}

.b1{background-image: url("../img/bird.webp");}
.b2{background-image: url("../img/bird2.gif");}